body {
  background-color: #eee;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
}

.logo {
  display: block;
  background: url("logo.png") no-repeat left center;
  background-size: contain;
  height: 70px;
  width: 170px;
}

.static{
  position: static;
  display: inline-block;
}

.btn-group{
  margin: 7px;
}

#output {
  resize: none;
  height: 400px;
  margin-top: 10px;
  font-size: 1.2em;
  overflow-y: scroll;
}

#input {
  font-size: 1.2em;
}